@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
}

/* 네비게이션 */
.lnb {
    width: 100%;
    height: 80px;
    background-color: darkslateblue;
    color: #fff;
}
.lnb .all-menu {
    display: none; /* 데스크탑에서 전체메뉴 안보이도록 처리 */
}
.lnb ul {
    width: 760px;
    margin: 0 auto;
    overflow: hidden;
}
.lnb ul li {
    float: left;
    width: 25%;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 80px;
    text-align: center;
}
.lnb ul li:last-child {
    border-right: none;
}
@media screen and (max-width: 767px) {
    .lnb {
        height: 40px;
    }
    .lnb ul {
        display: none;
    }
    .lnb .all-menu {
        display: block;
        line-height: 40px;
        padding-left: 20px;
    }
}

/* 섹션 공통 */
section {
    padding: 50px;
}
section:nth-of-type(2n+1)/*odd 사용 가능*/ {
    background-color: #eee;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.container h2 {
    text-align: center;
    padding-bottom: 30px;
}

/* 왜 코딩 교육인가 */
.coding img {
    float: right;
    width: 200px;
    padding-left: 50px;
}
.coding p {
    padding-top: 50px;
}
@media screen and (max-width: 767px) {
    /* 섹션 공통 */
    section {
        padding: 50px 20px;
    }

    /* 왜 코딩교육 */
    .coding img {
        display: none;
    }
    .coding p {
        padding-top: 0;
    }
}

/* 빌게이츠 인용문 */
.message {
    text-align: center;
}
.message blockquote {
    color: orange;
    font-size: 20px;
    font-style: italic;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    padding: 20px 0;
}
.message span {
    display: block;
    color: #aaa;
    font-style: italic;
    font-family: 'Nanum Myeongjo', serif;
    padding-bottom: 20px;
}

/* 교육프로그램 */
.pro {
    float: left;
    width: calc(25% - 20px);
    margin: 0 10px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    min-height: 350px;
}
@media screen and (max-width:767px) {
    .pro {
        float: none;
        width: 100%;
        min-height: auto;
        margin: 10px 0;
    }
}
