@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: top;
}
header h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    margin: 30px auto;
}
header ul {
    width: 850px;
    margin: 20px auto;
    text-align: center;
    overflow: hidden;
}
header li {
    width: 130px;
    margin: 0 20px;
    float: left;
}
main {
    width: 1600px;
    margin: 0 auto;
}
section {
    margin-bottom: 30px;
    overflow: hidden;
}
.section01 .left {
    width: 1274px;
    float: left;
}
.section01 .right {
    width: 316px;
    float: right;
}
