* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden {
    display: none;
}
img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.form-wrap {
    position: absolute;
    width: 500px;
    top: 50%;
    left: calc(50% - 250px);
    z-index: 1;
}
#login-form {
    text-align: center;
}
#login-form input[type="text"] {
    width: 400px;
    height: 35px;
    text-align: center;
    margin: 20px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #f8f8f8;
    font-size: 24px;
}
#login-form ::-webkit-input-placeholder {
    color: #f8f8f8;
}
#login-form input[type="submit"] {
    width: 60px;
    height: 35px;
    border-radius: 10px;
    background-color: #282828;
    color: #fff;
    text-align: center;
}
#todo-form input {
    width: 450px;
    height: 35px;
    text-align: center;
    margin: 20px 25px;
    background-color: transparent;
    color: #f8f8f8;
    border: none;
    border-bottom: 1px solid #f8f8f8;
}
#todo-form ::-webkit-input-placeholder {
    color: #f8f8f8;
}
#clock {
    position: absolute;
    top: 35%;
    left: calc(50% - 160px);
    font-size: 80px;
    color: #fff;
    text-align: center;
    z-index: 1;
}