* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    width: 100%;
}
nav .btn-menu {
    overflow: hidden;
}
nav .btn-menu li {
    float: left;
}
