* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(../img/stars-bg3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-wrap {
    width: 1400px;
    height: 800px;
    border: 5px solid #fff;
    position: absolute;
    top: calc(50% - 400px);
    left: calc(50% - 700px);
}
.main-wrap .text-wrap {
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 100px;
}
.main-wrap .text-wrap h1 {
    color: #fff;
    font-size: 6em;
}
.first {
    margin-left: -200px;
    animation: first 3s forwards;
}
.second {
    margin-left: -200px;
    animation: second 3s forwards;
}
.third {
    margin-left: -200px;
    animation: third 3s forwards;
}
.main-wrap .text-wrap .click-btnwrap {
    text-align: center;
    margin: 80px auto;
}
.main-wrap .text-wrap .click-btnwrap .click-btn {
    color: #000;
    width: 300px;
    height: 80px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    font-size: 2em;
}

@keyframes first {
    0% {margin-left: -200px; opacity: 0;}
    25% {margin-left: 0px; opacity: 1;}
    50% {margin-left: 0px; opacity: 1;}
    75% {margin-left: 0px; opacity: 1;}
    100% {margin-left: 0px; opacity: 1;}
}
@keyframes second {
    0% {margin-left: -200px; opacity: 0;}
    25% {margin-left: -200px; opacity: 0;}
    50% {margin-left: 0px; opacity: 1;}
    75% {margin-left: 0px; opacity: 1;}
    100% {margin-left: 0px; opacity: 1;}
}
@keyframes third {
    0% {margin-left: -200px; opacity: 0;}
    25% {margin-left: -200px; opacity: 0;}
    50% {margin-left: -200px; opacity: 0;}
    75% {margin-left: 0px; opacity: 1;}
    100% {margin-left: 0px; opacity: 1;}
}
@keyframes name {
    
}