@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap');
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    background-color: #282828;
    color: #fff;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
body {
    height: 3000px;
}
/* Header */
.header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#logo {
    width: 100px;
    height: 100px;
    line-height: 100px;
    float: left;
    margin-left: 50px;
}
#logo span {
    display: inline-block;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 3px solid yellow;
    color: yellow;
    border-radius: 50%;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}
#header-wrap nav ul {
    float: right;
    margin-right: 50px;
}
#header-wrap nav ul li {
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 22px;
}
/* Main */

.introduce {
    max-width: 1400px;
    margin: 250px auto;
}
#introduce-wrap h2 {
    font-size: 50px;
}
