@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Dongle:wght@700&display=swap');
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}
body {
    background-color: #282828;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
/* Header */
.header {
    width: 100%;
    height: 100px;
    background-color: #282828;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
#logo {
    width: 100px;
    height: 100px;
    line-height: 100px;
    float: left;
    margin-left: 50px;
}
#logo span {
    display: inline-block;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 3px solid lemonchiffon;
    color: lemonchiffon;
    border-radius: 50%;
    text-align: center;
    text-shadow: 3px 3px black;
    box-shadow: 3px 3px black;
    font-family: 'Do Hyeon', sans-serif;
}
#header-wrap nav ul {
    float: right;
    margin-right: 80px;
}
.menu-btn {
    float: left;
    font-family: 'Do Hyeon', sans-serif;
    margin: 0 20px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 22px;
}

/* Main */

/* First-section */
.main {
    width: 100%;
    margin: 0 auto;
}
.introduce {
    max-width: 1400px;
    height: 800px;
    margin: 250px auto 0;
}
#introduce-wrap {
    padding-left: 50px;
}
#introduce-wrap .mainName {
    position: relative;
    font-size: 100px;
    margin-bottom: 54px;
    width: 735px;
    height: 100px;
    overflow: hidden;
    font-family: 'Black Han Sans', sans-serif;
    text-shadow: 7px 7px #000;
    animation: typing 2s linear forwards;
}
#introduce-wrap .mainName::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 740px;
    height: 70px;
    margin-top: 20px;
    border-right: 2px solid yellow;
    animation: cursor 1s infinite;
}
.space {
    margin: 0 12px;
}
#introduce-wrap h3 {
    font-size: 48px;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 500;
    text-shadow: 3px 3px black;
    line-height: 1.8;
    opacity: 0;
}
.first-line {
    animation: text-slide 1s linear forwards 2s;
}
.second-line {
    animation: text-slide 1s linear forwards 3s;
}
.third-line {
    animation: text-slide 1s linear forwards 4s;
}
.fourth-line {
    animation: text-slide 1s linear forwards 5s;
}
.important {
    border: 3px solid #fff;
    padding: 5px;
    background-color: black;
    box-sizing: none;
    color: rgba(0, 0, 0, 0);
    transition: 1s;
    cursor: pointer;
}
#btn-wrap {
    width: 480px;
    margin: 50px auto;
    box-sizing: border-box;
}
#btn-wrap button {
    width: 200px;
    height: 60px;
    text-align: 60px;
    margin: 0 20px;
    margin-top: 100px;
    background-color: #282828;
    border: 3px solid lemonchiffon;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Dongle', sans-serif;
    opacity: 0;
    animation: btn-slide 0.5s linear forwards 6s;
}
#btn-wrap button:hover {
    background-color: lemonchiffon;
    border: 3px solid #000;
}
#btn-wrap button:hover span {
    color: #000;
}
/* //First-section */

/* About Me */
.about-me {
    height: 1000px;
    border-top: #fff;
    background: #fff;
}
/* //About Me */

@keyframes typing {
    0% {width: 0%; color: greenyellow;}
    100% {width: 740px; color: lemonchiffon;}
}
@keyframes typing2 {
    0% {margin-left: -100px; color: yellow;}
    100% {margin-left: 0; color: lemonchiffon; opacity: 1;}
}
@keyframes cursor {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes text-slide {
    0% {margin-left: -300px; opacity: 0;}
    100% {margin-left: 0; opacity: 1;}
}
@keyframes btn-slide {
    0% {margin-top: 100px; opacity: 0;}
    100% {margin-top: 0; opacity: 1;}
}

@media screen and (max-width: 1024px) {
    #introduce-wrap {
        margin: 0 auto;
        padding-left: 0;
    }
    #introduce-wrap .mainName {
        text-align: center;
        margin: 0 auto 54px;
    }
    #introduce-wrap h3 {
        font-size: 36px;
        text-align: center;
    }
}