/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
/* 헤더 */
nav {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
nav .btn-menu {
    width: 840px;
    margin: 0 auto;
    overflow: hidden;
}
nav .btn-menu li {
    float: left;
    width: 80px;
    margin: 0 20px;
    text-align: center;
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
}
nav div {
    position: absolute;
}
nav .left-logo {
    top: 14px;
    left: 100px;
}
nav .right-logo {
    top: 22px;
    right: 100px;
}
nav .right-logo img {
    margin: 0 10px;
}
nav hr {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* 본문 */
main {
    width: 100%;
}
.left-section {
    position: fixed;
    width: 21%;
    height: 100%;
    border-right: 1px solid gray;
}
.left-section div {
    width: 80%;
    margin: 0 auto;
}
.left-section div video {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}
.left-section div h2, .left-section div p {
    text-align: center;
}
.left-section div h2 {
    color: olivedrab;
    margin-bottom: 20px;
    font-size: 30px;
}
.left-section div p {
    font-size: 12px;
    text-decoration: underline;
}
.right-section {
    width: 79%;
    height: 100%;
    margin-left: 21%;
    position: relative;
}
.right-section .logo-section {
    width: 90%;
    height: 708px;
}
.right-section .text-wrap {
    position: absolute;
    top: 150px;
    left: 50px;
    z-index: 9;
}
.right-section .text-wrap h2 {
    font-size: 12em;
    color: #777;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline 2px;
    text-underline-position: under;
}
.right-section .text-wrap p {
    color: gray;
    margin-top: 60px;
    margin-left: 30px;
}
.right-section .banner-wrap img {
    position: absolute;
    top: 50px;
    right: 50px;
}
.right-section div:nth-of-type(2) h2 {
    text-align: center;
    margin: 50px auto;
}
.main-section {
    width: 90%;
    margin: 0 auto;
}
.main-section .first-imgline {
    width: 30%;
}

