*{padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{display: block; max-width: 100%;}
body{font-size: 14px; color: #333;}

/* 헤더 */
header{
    width: 100%;
    height: 90px;
    overflow: hidden;
    background-color: #555;
}
nav{
    width: 1200px;
    margin: auto;
}
nav>a{
    width: 120px;
    height: 60px;
    display: block; /*반응형 형상에서 어떻게 바뀔지 모르기 때문에 block 초기화(초기화로 박스처리)*/
    float: left;
    margin: 15px 0px;
}
nav ul{
    width: 980px;
    /*폭계산:1200-120(logo)=1080-100(select박스)=980*/

    float: left;
    overflow: hidden;
    text-align: center;
}
nav li{
    display: inline-block;
    line-height: 90px; /*100px표기되어있음*/
    padding: 0px 30px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}
nav select{
    float: right;
    width: 100px;
    height: 30px;
    margin: 30px 0;
}

/* 본문 */
#main {
    width: 100%;
    overflow: hidden;
    background: url(img/img001.png) no-repeat;
    background-size: cover;
    padding: 40px 0px;    
}
#main>img {
    margin: 50px auto;
}
.contents {
    width: 960px;/*160*6=960*/
    overflow: hidden;
    margin: auto;
}
.contents>a {
    display: block;
    float: left;
    width: 160px;
    height: 80px;
    text-align: center;
    background-color: rgba(0, 218, 91, 0.561);
    padding: 30px 0px;
    position: relative;
    color: #fff;
}
.contents>a:nth-child(1) {
    background-color: rgba(218, 105, 0, 0.561);
}
.contents>a:nth-child(6) {
    background-color: rgba(0, 131, 218, 0.561);
}
.contents>a img {
    margin: auto;
}
.contents>a span {
    display: block;
    position: absolute;
    width:100%;
    height: 30px;
    line-height: 30px;
    left: 0;
    bottom: 30px;
}

/* 섹션 */
section{
    width: 1140px; /*360+20=380*3=1140*/
    overflow: hidden;
    margin: 40px auto;
}
.bnbox{
    width: 360px;
    margin: 0px 10px;
    height: 260px;
    float: left;
    margin-bottom: 20px;
}
.bar{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.bar h2{
    float: left;
}
.bar img{
    float: right;
    margin: 7.5px; /*15/2*/
}
.bnbox:nth-child(2)>.bar,
.bnbox:nth-child(6)>.bar{
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.bnbox ul{
    margin-top: 15px;
    overflow: hidden;
}
.bnbox li{
    line-height: 30px;
}
.bnbox span{
    float: right;
    font-size: 12px;
    color: #ccc;
}

/* 푸터 */
footer{
    width: 100%;
    height: 90px;
    background-color: #555;
    overflow: hidden;
}
.inner{
    width: 1200px;
    overflow: hidden;
    margin: auto;
}
.inner>a{
    display: block;
    float: left;
    margin-top: 33.5px; /*높이90-23(하단로고폭)=67/2=33.5*/
    margin-right: 30px;
}
.copy{
    float: left;
    margin-top: 33px;
    color: #808080;
}
.copy span{
    font-size: 12px;
    color: #999;
}
.icon{
    float: right;
    margin: 30px 0px;
}
.icon img{
    float: left;
    margin-right: 5px;
}
.icon select{
    float: right;
    width: 100px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
}

/* 반응형 */
@media screen and (max-width:960px) {
   
    nav{width: 100%;}
    nav ul{display: none;}
    nav select{display: none;}
    nav>a{
        float: none; /*나열제거*/
        margin: 15px auto;
    }
    .contents{
        /*960/1900=0.5051(51%)*/
        width: 51%; /*가변그리드를 적용한 계산 부여도 가능*/
    }
    .contents>a{
        width: 33.3%; /*100/3*/
    }
    section{
        width: 80%;
    }
    .bnbox{
        width: 48%;
        margin: 0 1%;
    }
    .bnbox li{
        line-height: 25px;
        font-size: 13px;
    }
    .inner{
        width: 100%;
    }
    .inner>a{
        display: none;
    }
    .icon{
        display: none;
    }
    .copy{
        float: none;
        text-align: center;
    }
}