*{padding: 0; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{display: block; max-width: 100%;}
body{font-size: 14px; color: #333;}


header{
    width: 100%;
    height: 90px;
    overflow: hidden;
    background-color: #d7e0fa;
}
nav{
    width: 1200px;
    margin: auto;
}
nav>a{
    width: 120px;
    height: 60px;
    display: block; /*반응형 형상에서 어떻게 바뀔지 모르기 때문에 block 초기화(초기화로 박스처리)*/
    float: left;
    margin: 15px 0px;
}
nav ul{
    width: 980px;
    /*폭계산:1200-120(logo)=1080-100(select박스)=980*/

    float: left;
    overflow: hidden;
    text-align: center;
}
nav li{
    display: inline-block;
    line-height: 90px; /*100px표기되어있음*/
    padding: 0px 30px;
    font-size: 15px;
    font-weight: 600;
}
nav select{
    float: right;
    width: 100px;
    height: 30px;
    margin: 30px 0;
}

#main {
    width: 100%;
    overflow: hidden;
    background: url(img/img001.png) no-repeat;
    background-size: cover;
    padding: 40px 0px;    
}
#main>img {
    margin: 50px auto;
}
.contents {
    width: 960px;/*160*6=960*/
    overflow: hidden;
    margin: auto;
}
.contents>a {
    display: block;
    float: left;
    width: 160px;
    height: 80px;
    text-align: center;
    background-color: rgba(0, 218, 91, 0.561);
    padding: 30px 0px;
    position: relative;
    color: #fff;
}
.contents>a:nth-child(1) {
    background-color: rgba(218, 105, 0, 0.561);
}
.contents>a:nth-child(6) {
    background-color: rgba(0, 131, 218, 0.561);
}
.contents>a img {
    margin: auto;
}
.contents>a span {
    display: block;
    position: absolute;
    width:100%;
    height: 30px;
    line-height: 30px;
    left: 0;
    bottom: 30px;
}