/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* 공통적용 */
body {
    font-family: '맑은고딕', sans-serif;
    font-size: 14px;
    line-height: 26px;
}
/* 헤더 */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    height: 90px;
    background-color: #555;
    overflow: hidden;
}
header div {
    float: left;
}
header img {
    width: 120px;
    margin: 15px 30px 0 100px;
}
nav ul {
    float: left;
    max-width: 726px;
    margin: 0 auto;
}
nav ul li {
    float: left;
    margin: 0 30px;
    line-height: 90px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}
form select {
    width: 100px;
    height: 30px;
    margin: 30px 30px 0;
}

@media screen and (max-width:1199px) {
    header div {
        float: none;
        width: 100%;
        text-align: center;
    }
    header img {
        margin: 0;
        margin-top: 15px;
    }
    header nav {
        display: none;
    }
    header form {
        display: none;
    }
}
/* 본문 */
main img {
    width: 1200px;
}
.text-box img {
    width: 300px;
}
.section-nav li a {
    width: 160px;
    height: 140px;
    background-color: skyblue;
    float: left;
    text-align: center;
}
.section-nav li img {
    width: 60px;
    height: 60px;
    margin: 20px 0 10px;
}