/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: top;
}

/* 공통적용 */
body {
    font-family: '맑은고딕', sans-serif;
    font-size: 14px;
    line-height: 26px;
}
/* 헤더 */
header {
    max-width: 100%;
    height: 90px;
    position: relative;
    overflow: hidden;
    background-color: #1e172a;
}
#top {
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}
#top>.logo {
    width: 120px;
    height: 60px;
    display: block;
    float: left;
    margin-top: 15px;
    background-image: url(img/logo_1200.png);
    background-size: 100%;
    font-size: 0;
}
#top>ul {
    display: inline-block;
    overflow: hidden;
    margin-top: 30px;
}
#top>ul>li {
    float: left;
    line-height: 30px;
    font-size: 20px;
}
#top>ul>li>a {
    color: #d4d0dc;
    font-weight: 600;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}
#top select {
    float: right;
    display: block;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}

#main {
    width: 100%;
    overflow: hidden;
    background: url(img/img001.png) no-repeat;
    background-size: cover;
    padding: 40px 0px;    
}
#main>img {
    margin: 50px auto;
}
.contents {
    width: 960px;/*160*6=960*/
    overflow: hidden;
    margin: auto;
}
.contents>a {
    display: block;
    float: left;
    width: 160px;
    height: 80px;
    text-align: center;
    background-color: rgba(0, 218, 91, 0.561);
    padding: 30px 0px;
    position: relative;
    color: #fff;
}
.contents>a:nth-child(1) {
    background-color: rgba(218, 105, 0, 0.561);
}
.contents>a:nth-child(6) {
    background-color: rgba(0, 131, 218, 0.561);
}
.contents>a img {
    margin: auto;
}
.contents>a span {
    display: block;
    position: absolute;
    width:100%;
    height: 30px;
    line-height: 30px;
    left: 0;
    bottom: 30px;
}